# If you change the requirements here, don't forget to make the
# corresponding change in the conda-forge rcpq-feedstock here:
#
# https://github.com/conda-forge/rpcq-feedstock/blob/master/recipe/meta.yaml

# msgpack 1.0 introduced breaking changes. See
# https://github.com/rigetti/rpcq/issues/118
msgpack >=0.6,<1.0
python-rapidjson
pyzmq>=17
ruamel.yaml

# testing
numpy
pytest
pytest-asyncio
pytest-cov
